@model ExpoBookApp.Models.Event

<h2>Event Details</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.EventName</h4>
        <p class="card-text"><strong>Type of Event:</strong> @Model.EventType</p>
        <p class="card-text"><strong>Location:</strong> @Model.Venue</p>
        <p class="card-text"><strong>Start:</strong> @Model.StartDate.ToString("g")</p>
        <p class="card-text"><strong>End:</strong> @Model.EndDate.ToString("g")</p>
        <p class="card-text"><strong>Price (Ticket per pax):</strong> @Model.TicketPrice.ToString("C")</p>
        <p class="card-text"><strong>Attendance:</strong> @Model.TicketBought / @Model.TicketQuota</p>
    </div>
</div>

<br />

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
