@model IEnumerable<ExpoBookApp.Models.Venues>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th> *@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @if (item.ApprovalStatus == ApprovalStatus.Approved)
                {
                    <span class="badge rounded-pill bg-success">Approved</span>
                }
                else if (item.ApprovalStatus == ApprovalStatus.Rejected)
                {
                    <span class="badge rounded-pill bg-danger">Rejected</span>
                }
                else if (item.ApprovalStatus == ApprovalStatus.Pending)
                {
                    <span class="badge rounded-pill bg-warning text-dark">Pending</span>
                }
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.Email)
            </td> *@
            <td>
                <a asp-controller="Venue" asp-action="Edit" asp-route-id="@item.Id">Edit</a> | 
                <a asp-controller="Venue" asp-action="Detail" asp-route-id="@item.Id">Detail</a> |
                <a asp-controller="Venue" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


